@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using cryptoGamblers.Models
@{ 
    var currentUserId = User.Identity.GetUserId();
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId());
}
@if (Request.IsAuthenticated)
{
    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
    @Html.AntiForgeryToken()
        <div class="rightNav">
            <div class="rightNavBtnSection">
                <button type="button" id="button" class="btn btn-default queueButton">Queue me up</button>
                <div id="loader" class="loader"></div>
                <a href="@Url.Action("Index", "Manage", new { area = "" })">
                    <img src="~/Content/uploads/@currentUser.Avatar" id="nav--profile-img" />
                    <p id="nav--profile-name">@currentUser.UserName</p>
                </a>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </div>
        </div>
    }
}

<script>
    $("#button").click(function () {
        $("#button").css("display", "none"); 
        $("#loader").css("display", "block");
        $.ajax({
            url: "/queue/QueueMe", success: function (result) {
                var redirectUrl = "http://localhost:49816/Match/Index?id=" + result.Object.MatchId;
                window.location = redirectUrl;
            }
        });
    });
</script>
