@model string
@{
    ViewBag.Title = "Create Role";
}
<div class="jumbotron" style="background-image: url('https://www.linkapedia.com/resources/images/user-background.jpg');">
    <div class="container body-content">
        <div class="text-center">
            <h2 class="jumbo-title">Create new Admin role</h2>
        </div>
    </div>
  <div class="top-background"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 699.08 31"><defs><style>.cls-1,.cls-2{fill:#0c131c;}.cls-2{stroke:#f7931a;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>Untitled-3</title><rect class="cls-1" x="2.41" y="27" width="694" height="4"/><polyline class="cls-2" points="1.41 29.5 28.91 2 670.41 2 697.66 29.25"/></svg></div>
</div>

<div class="container body-content">
    <div class="form-wrapper">
        <div class="form-wrapper__inner">
            @Html.ValidationSummary(false)
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <label>Username</label>
                    <input name="name" value="@Model" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Create admin</button>
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            }
        </div>
    </div>
</div>
