.first-place-header {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
}

.first-place-header span {
    font-weight: 700;
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, rgba(247,147,26,0) 0%,rgba(247,147,26,1) 20%,rgba(247,147,26,1) 80%,rgba(247,147,26,0) 100%);
    -box-shadow: 0px 0px 15px -2px rgba(247,148,26,1);
    position: relative;
    overflow: visible;
}

hr.big-hr {
    height: 5px;
    background: linear-gradient(to right, rgba(247,147,26,0) 0%,rgba(247,147,26,0) 5%,rgba(247,147,26,1) 20%,rgba(247,147,26,1) 80%,rgba(247,147,26,0) 95%,rgba(247,147,26,0) 100%);
    margin: 3em;
}

hr.big-hr::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    box-shadow: 0px 0px 15px -1px rgba(247,148,26,.7);
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    border-radius: 100%/5px;
}

.leaderboard--winner {
    text-align: center;
    font-size: 6vw;
    font-weight: 700;
    color: #fff;
    white-space: pre;
}

.leaderboard--winner-streak {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    -font-size: 2em;
    color: #fff;
    margin-bottom: 0;
}

.streak-count {
    font-weight: 700;
    margin: 0;
}

.search-wrapper {
    background: linear-gradient(to right, rgba(247,147,26,0) 0%,rgba(247,147,26,.6) 20%,rgba(247,147,26,.6) 80%,rgba(247,147,26,0) 100%);
}

    .search-wrapper form p {
        text-align: center;
    }

.search-box input[type="text"] {
    padding: 10px;
    margin: 4px 0;
    border: 2px solid #F7931A;
    /*background: rgba(247,147,26,.5);*/
    background: #0C131C;
    color: #fff;
    transition:background .1s;
    outline:none;
}
.search-box input[type="text"]:focus {
    background:#543a1c;
}

.search-box input[type="submit"] {
    padding: 10px;
    border: none;
    font-family: 'FontAwesome';
    max-width: 50px;
    color: #fff;
    background: #F7931A;
    border: 2px solid #F7931A;
}
.search-box input[type="submit"]:hover {
    opacity:.8;
}

.winstreak-header {
    background: linear-gradient(to right, rgba(247,147,26,0) 0%,rgba(247,147,26,1) 20%,rgba(247,147,26,1) 80%,rgba(247,147,26,0) 100%) !important;
    -box-shadow: 0px 0px 15px -1px rgba(247,148,26,.7);
}

    .winstreak-header th {
        background-color: rgba(0,0,0,0) !important;
        color: #fff;
    }

        .winstreak-header th a {
            color: #fff;
            padding-right: 5px;
        }

.streak-table > tbody > tr > td:nth-child(2), .streak-table > tbody > tr > th:nth-child(2) {
    text-align: right;
}

.streak-table > tbody > tr > td, .streak-table > tbody > tr > th {
    padding: 10px 40px;
}

.winstreak-users td {
    font-style: normal;
}

.streak-table > tbody > tr:nth-child(2n+1) > td, .streak-table > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(0,0,0,0);
}

.streak-table > tbody > tr:nth-child(2n+1) {
    background: linear-gradient(to right, rgba(247,147,26,0) 0%,rgba(247,147,26,.3) 20%,rgba(247,147,26,.3) 80%,rgba(247,147,26,0) 100%);
}

.table-responsive > .table {
	background-color: unset;
}