@using cryptoGamblers.Models
@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">CryptoGamblers</h1>
    <p class="lead">CryptoGamblers is the leading bitcoin gambling site for onion users.</p>
    <hr class="my-4">
    <p>Gamble all your bitcoins here!</p>
    <p class="lead">
        @Html.ActionLink("Queue me the fuck up", "QueueMe", "Queue", new { @class = "btn btn-primary" })
    </p>
</div>

<div class="row">
    <h2>Hall of Winstreak Fame</h2>
    <p>Showing the top 3 users with the highest winstreak</p>
    <table class="table table-striped">
        <tr>
            <th>Username:</th>
            <th>Winstreak:</th>
        </tr>
        @foreach (ApplicationUser user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.WinStreakMax</td>
            </tr>
            
        }
    </table>
</div>