/* Temporary Match Placement */

.CountDown {
	display: none;
}

.three-col {
	display: grid;
	grid-template-columns: 1fr minmax(min-content, 2fr) 1fr;
}

.btnHandleBet {
	display: none;
}

.op1 {
	grid-column: 1;
}

.op2 {
}

.bet {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
	margin-top: 10px
}

.opponent {
	background: #152233;
	padding: 1em;
	box-shadow: 10px 14px 63px -17px rgba(3,3,2,1);
	text-align: center;
	transition: 150ms all;
}

	.opponent:hover {
		transform: scale(1.04);
		box-shadow: 12px 22px 68px -17px rgba(3,3,2,1);
		transition: 150ms all;
	}

	.opponent img {
		margin: 0 auto;
		display: block;
	}

.avatar-container {
	position: relative;
	text-align: center;
	color: white;
	margin-bottom: 20px;
	margin-top: 20px;
}

	.avatar-container p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.avatar-container img {
		filter: brightness(50%) sepia(20%);
	}

.proposedBet {
	text-align: center;
}

.playfield {
	grid-column: 2;
	text-align: center;
}

.btnHandleBet {
	display: inline-block;
}
