.bodyContent {
    display: grid;
    grid-template-columns: auto 33% auto;
    grid-template-rows: auto 33% auto;
    min-height: 100%;
    background: #1D2127;
    background: -webkit-linear-gradient(bottom right,#1D2127,#162851);
    background: -moz-linear-gradient(bottom right,#1D2127,#162851);
    background: linear-gradient(bottom right,#1D2127,#162851);
}

.loginWrapper {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start:2;
    grid-column-end: 2;
}
.loginForm{
    display:grid;
    grid-template-rows: 33% auto;
    grid-template-columns: auto 17% 33% 17% auto;

}
.loginFormHeader{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    color: #FFF;
}
.LoginFormBody {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
}
.loginInput{
    margin:1%;
    min-width:100%;
    position:center;
}
.loginFormTitle{
    margin:auto;
    text-align:center;
}