.bodyContent {
    display: grid;
    grid-template-columns: auto 33% auto;
    grid-template-rows: auto 33% auto;
    min-height: 100%;
    /*background: #1D2127;
    background: -webkit-linear-gradient(bottom right,#1D2127,#162851);
    background: -moz-linear-gradient(bottom right,#1D2127,#162851);
    background: linear-gradient(bottom right,#1D2127,#162851);*/
}

.loginWrapper {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start:2;
    grid-column-end: 2;
}
.loginForm{
    display:grid;
    grid-template-rows: 33% auto;
    grid-template-columns: auto 17% 33% 17% auto;

}
.loginFormHeader{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 5;
    color: #FFF;
}
.LoginFormBody {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
	/*text-align:center;*/
}
.loginInput{
    /*margin:1%;
    min-width:100%;*/
    margin-top:10px;
    position:center;
}
.loginFormTitle{
    margin:auto;
    text-align:center;
}
.loginLogo {
    width: 50%;
    margin: 30px auto;
    display: block;
}
.form-horizontal .control-label {
    color: rgba(247,147,26,1);
    margin-top:20px;
}
.last-input {
    margin-bottom:20px;
}
.form-control:focus {
    border-color: #b16d1a;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(247, 147, 26);
}
