
@{
    ViewBag.Title = "About";
}
@Styles.Render("~/Content/HallOfFame/HallOfFame.css")

<div class="jumbotron" style="background-image: url('https://anonymously.io/wp-content/uploads/2016/05/Anonymous-Hosting.jpg');">
    <div class="container body-content">
        <div class="text-center">
            <h2 class="jumbo-title">About</h2>
        </div>
    </div>
  <div class="top-background"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 699.08 31"><defs><style>.cls-1,.cls-2{fill:#0c131c;}.cls-2{stroke:#f7931a;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>Untitled-3</title><rect class="cls-1" x="2.41" y="27" width="694" height="4"/><polyline class="cls-2" points="1.41 29.5 28.91 2 670.41 2 697.66 29.25"/></svg></div>
</div>

<div class="container body-content">
    <div class="about-content">
        <p>CryptoGamblers invites gamblers from all over the world to take advantage of their low-edge online Dice, Blackjack, Lottery and Slot machine games, in which they are offering everyone an opportunity to gamble online with cryptocurrencies such as Bitcoin both, securely and anonymously.</p>

        <p>This online gambling site also offers the feature to invest in their house bankroll.</p>

        <p>Bitcoin gambling has been gaining momentum for the past few years and we can surely expect more and more bitcoin casinos to launch in the near future. It now poses as a threat to regular online casinos because of it’s simplicity, anonymity and transaction speed. It is just a matter of time before they start accepting cryptocurrencies as a method of payment.</p>

        <p>The cryptocurrency world has presented us with a new array of games which had no existent before in online casinos. Among them is a game, simply known as “DICE” which is one of the most popular one out there. This game has nothing in common with popular crapshoot games, but the task is to predict whether the number that the dice will roll is higher or lower than a certain digit.</p>
    
        <p>Previously, a lot of people were curious and in doubt about the fairness of general online casinos as there was no way to verify whether the casino is legitimate or not, but to just blindly trust them.</p>

        <p>However people can now overcome their doubts using bitcoin gambling platform as it is presented with “provably fair” technology. This is a technology unique to bitcoin gambling and makes it totally impossible to cheat. Every major bitcoin casino has it built into their client, so did CryptoGamblers and can now ensure total transparency of every single bet placed.</p>
    </div>
</div>

