.nav-game-find {
    padding: 10px 15px;
}

.nav-game-find:hover {
    background: rgba(12,19,28,.6);
    border-bottom: 1px solid rgba(247, 147, 26, 0.32);
    box-shadow: 0 4px 6px -4px rgba(247,148,26,.11), 0 1px 3px rgba(0,0,0,.08);
}

.find-game-btn {
    border: 0;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    background: none;
    transition: all .15s ease;
    box-sizing: border-box;
}

.loader {
    border: 2px solid #f7931a; /* Light grey */
    border-top: 2px solid #1D2127; /* Blue */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rightNav{
    display:grid;
    border:solid;
    border-color: red;
    min-width:100%;
}