.hero-block {
    position: relative;
    width: 100%;
    height: 300px;
}
.jumbotron {
    background: url("Content/Images/p2pbg.jpg") #772525;
    background: url("https://img.buzzfeed.com/buzzfeed-static/static/2014-06/4/11/enhanced/webdr08/anigif_enhanced-buzz-16221-1401896729-17.gif?downsize=715:*&output-format=auto&output-quality=auto") #772525;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(12,19,28,1) 0%,rgba(12,19,28,0.5) 20%,rgba(12,19,28,0.5) 81%,rgba(12,19,28,1) 100%);
    z-index: -1;
}

.jumbotron::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, rgba(247,147,26,0) 0%,rgba(247,147,26,1) 20%,rgba(247,147,26,1) 80%,rgba(247,147,26,0) 100%);
}

.jumbotron .container .text-center {
    margin: 100px 0;
}

.jumbo-title {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
}

.top-background {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    z-index: 2;
    max-height: 90px;
}

.top-background svg {
    max-width: 700px;
    margin: 0 auto;
    display: block;
}

.play-button {
    box-sizing: border-box;
    margin: 40px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    padding: 25px 35px;
    text-align: center;
    border: none;
    color: #f7931a;
    border-bottom: 4px solid #f7931a;
    font-size: 54px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    background: rgba(12,19,28,.9);
    transition: all .15s ease;
    overflow: hidden;
    box-shadow: 0px 0px 25px -5px rgba(247,148,26,.35), 0 16px 24px rgba(247,148,26,.11), 0 4px 12px rgba(0,0,0,.08);
    line-height: 54px;
}

.play-button::after {
    content: "";
    position: absolute;
    z-index: 0;
    top: -68px;
    left: -100px;
    width: 50px;
    height: 250px;
    transition: all .2s;
    opacity: .3;
    transform: rotate(35deg);
    background: #fff;
}

.play-button:hover, .play-button:focus {
    background: rgba(12,19,28,1);
    box-shadow: 0px 0px 50px -10px rgba(247,148,26,.35), 0 30px 42px rgba(247,148,26,.11), 0 7px 20px rgba(0,0,0,.08);
    transform: translateY(-1px);
    text-decoration: none;
    color: #f7931a;
}

.play-button:hover::after {
    left: 120%;
    transition: all .6s cubic-bezier(.19,1,.22,1);
}

.winstreak-header {
    background: linear-gradient(to right, rgba(247,147,26,0) 0%,rgba(247,147,26,1) 20%,rgba(247,147,26,1) 80%,rgba(247,147,26,0) 100%) !important;
    -box-shadow: 0px 0px 15px -1px rgba(247,148,26,.7);
}

.winstreak-header th {
    background-color: rgba(0,0,0,0) !important;
    color: #fff;
}

.winstreak-header th a {
    color: #fff;
    padding-right: 5px;
}

.streak-table > tbody > tr > td:nth-child(2), .streak-table > tbody > tr > th:nth-child(2) {
    text-align: right;
}

.streak-table > tbody > tr > td, .streak-table > tbody > tr > th {
    padding: 10px 40px;
}

.winstreak-users td {
    font-style: normal;
}

.streak-table > tbody > tr:nth-child(2n+1) > td, .streak-table > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(0,0,0,0) !important;
}

.streak-table > tbody > tr:nth-child(2n+1) {
    background: linear-gradient(to right, rgba(247,147,26,0) 0%,rgba(247,147,26,.3) 20%,rgba(247,147,26,.3) 80%,rgba(247,147,26,0) 100%);
}
.streak-table td a {
    font-weight: 300;
    font-size: 1.2em;
    color:#fff;
    font-style:normal;
}
.top-100-link {
    color:rgba(247,147,26,1);
    text-align:center;
    display:block;
    font-weight:700;
}
h1 {
    color:rgba(247,147,26,1);
    font-weight:700;
    text-transform:uppercase;
    text-shadow:0 0 15px rgba(247,147,26,1);
}

@media screen and (max-width:768px) {
    .play-button {
        /*transform: scale(.7);*/
        font-size: 2em;
    }
}